.scrollpoint {
  opacity:0;
}

.scrollpoint.active {
  opacity:1;
}

/* SCROLL UP BUTTON */

.scroll-up {
    position: fixed;
    bottom: 15px;
    right: 25px;
    color: #ED5A64;
  border:1px solid rgba(0,0,0,0.2);
    font-size: 16px;
    display: none;
  width:45px;
  height:44px;
  text-align:center;
  padding-top:9px;
  z-index:1000;
  transition-duration:0.5s;
  background-color: #2F4254;
  border-radius:50%;
}

.scroll-up:hover {
  background-color:#FFFFFF;
  border-color:rgba(0,0,0,0.2);
  padding-top:0px;
  color: #ED5A64;
}
